/* Fonts Adobe:

IvyPresto Display:
<link rel="stylesheet" href="https://use.typekit.net/vyi6gzm.css">

font-family: "ivypresto-display", serif;
font-weight: 100;
font-style: normal;

font-family: "ivypresto-display", serif;
font-weight: 100;
font-style: italic;

font-family: "ivypresto-display", serif;
font-weight: 300;
font-style: normal;

font-family: "ivypresto-display", serif;
font-weight: 300;
font-style: italic;


Forma DJR Display:
<link rel="stylesheet" href="https://use.typekit.net/vyi6gzm.css">

font-family: "forma-djr-display", sans-serif;
font-weight: 400;
font-style: normal;

font-family: "forma-djr-display", sans-serif;
font-weight: 500;
font-style: normal;

font-family: "forma-djr-display", sans-serif;
font-weight: 600;
font-style: normal; */